 .topo {
     display: flex;
     height: 60px;
     width: 100%;
     margin-top: -20px;
     padding: auto;
     background-color: #000000;
     border-radius: 5px;
 }
 
 .topo nav ul {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-top: 25px;
     list-style: none;
     text-decoration: none;
 }
 
 .topo li {
     margin-top: -30px;
     padding: 30px;
 }
 
 .topo a {
     text-decoration: none;
     color: aliceblue;
     font-family: "Source Serif Pro", serif;
 }
 
.navegação {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    height: 500px;
    background-color: '#dddd';
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

h1 {
    font-family: Montserrat;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0;
    text-transform: none;
    color: #333;
}

span {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    text-transform: none;
    color: #747474;
}

.navegação ul li a {
    text-decoration: none;
    font-size: 16;
    color: tan;
    font-weight: 'bold';
    font-family: 'Open Sans', 'Bookman Old Style', 'serif';
    font-size: 14px;
    line-height: 14px;
}